body{

margin:0;
font-family:Arial;
background:#343541;
color:white;
display:flex;
height:100vh;

}


.sidebar{

width:260px;
background:#202123;
padding:20px;
display:flex;
flex-direction:column;
gap:10px;

}


.sidebar button{

background:#19c37d;
border:none;
padding:10px;
cursor:pointer;

}


.main{

flex:1;
display:flex;
flex-direction:column;

}


#chatbox{

flex:1;
overflow:auto;
padding:30px;
display:flex;
flex-direction:column;
gap:15px;

}


.user{

align-self:flex-end;
background:#19c37d;
padding:12px 16px;
border-radius:12px;
max-width:60%;

}


.bot{

align-self:flex-start;
background:#444654;
padding:12px 16px;
border-radius:12px;
max-width:60%;

}


.inputArea{

display:flex;
padding:20px;
background:#40414f;

}


input{

flex:1;
padding:12px;
font-size:16px;
border:none;
border-radius:6px;

}


button{

margin-left:10px;
padding:10px 20px;
background:#19c37d;
border:none;
cursor:pointer;

}